name: splitcost-infra

services:
  # Banco de dados do SplitCosts
  splitcosts-db:
    image: postgres:16
    container_name: splitcosts-db
    environment:
      POSTGRES_DB: SplitCostsDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - splitcosts_pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  # Banco de dados do Keycloak
  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: kcpassword
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  # Servidor Keycloak
  keycloak:
    image: quay.io/keycloak/keycloak:26.1.3
    container_name: keycloak
    command: start-dev --import-realm
    depends_on:
      - keycloak-db
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: kcpassword
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./split-costs.json:/opt/keycloak/data/import/split-costs.json:ro
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  splitcosts_pgdata:
  keycloak_pgdata:
