name: splitcosts-infra

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - keycloak
    ports:
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - splitcosts-net
    restart: unless-stopped

  splitcosts-app-db:
    image: postgres:16
    container_name: splitcosts-app-db
    environment:
      POSTGRES_DB: SplitCostsDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - splitcosts_pgdata:/var/lib/postgresql/data
    networks:
      - splitcosts-net
    restart: unless-stopped

  keycloak-db:
    image: postgres:15
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: kcpassword
    ports:
      - "5433:5432"   # opcional
    volumes:
      - keycloak_pgdata:/var/lib/postgresql/data
    networks:
      - splitcosts-net
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.3
    container_name: keycloak
    command: start-dev --import-realm
    depends_on:
      - keycloak-db
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: kcpassword
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME: localhost
      KC_PROXY_HEADERS: xforwarded
    volumes:
      - ./split-costs.json:/opt/keycloak/data/import/split-costs.json:ro
    networks:
      - splitcosts-net
    restart: unless-stopped

volumes:
  splitcosts_pgdata:
  keycloak_pgdata:

networks:
  splitcosts-net:
    driver: bridge
